@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-appearance: none;
    @apply bg-black-03 ring-1 ring-black-03 hover:bg-white-01 hover:ring-black-03;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    @apply bg-white-01;
  }
}

@layer utilities {
  .unset {
    all: unset;
  }
}

@layer components {
  .personsGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .personsGrid li:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
  }

  .personsGrid li:nth-child(2) {
    grid-area: 1 / 3 / 2 / 6;
  }

  .personsGrid li:nth-child(3) {
    grid-area: 1 / 5 / 2 / 8;
  }

  .personsGrid li:nth-child(4) {
    grid-area: 1 / 7 / 2 / 10;
  }

  .personsGrid li:nth-child(5) {
    grid-area: 1 / 9 / 2 / 12;
  }

  .btn-primary {
    @apply py-4 px-14 bg-blue-01 text-white-01 rounded-md 
    hover:ring-1 hover:ring-black-01 hover:text-black-01
    hover:bg-transparent;
  }

  .upcomingGradient {
    background: linear-gradient(
      99.99deg,
      hsla(212, 82%, 60%, 1) -26.21%,
      hsla(191, 50%, 65%, 1) 22.16%,
      hsla(25, 91%, 39%, 0.49) 111.62%
    );
  }

  .imageGradient {
    background: linear-gradient(
        104.57deg,
        rgba(0, 0, 0, 0) 21.03%,
        rgba(0, 0, 0, 0.2) 56.5%,
        rgba(0, 0, 0, 0.2) 93.84%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52));
  }

  .buttonGradient {
    background: linear-gradient(180deg, #aeaeae 0%, #202020 100%),
      linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  }
}
